<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanandroid.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.wanandroid.kotlin.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/wanand_kotlin_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wanand_kotlin_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wanandroid.kotlin.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wanandroid.kotlin.ui.collection.MyCollectionActivity" />
        <activity android:name="com.wanandroid.kotlin.ui.login.LoginActivity" />
        <activity android:name="com.wanandroid.kotlin.ui.knowledge.KnowledgeTreeArticleListActivity" />
        <activity android:name="com.wanandroid.kotlin.ui.ArticleDetailWebViewActivity" />
        <activity android:name="com.wanandroid.kotlin.ui.aboutme.AboutMeActivity" />
        <activity
            android:name="com.wanandroid.kotlin.ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.wanandroid.kotlin.ui.me.PersonalInfoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.wanandroid.kotlin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>